.company-name {
  font-family: "Poppins";
  font-weight: 500 !important;
  font-size: 24px !important;
  color: $dark-color !important;
}

.horcenter {
  margin-bottom: 10px !important;
}

.register-form {
  margin-top: 50px !important;
  .ui.pointing.label {
    margin-top: -1em !important;
  }
}

.img-name {
  display: flex;
  align-items: center;
}

.header-segment {
  overflow: "hidden";
  margin-top: -1rem !important;
  height: 100vh;
}

.sidebar {
  padding: 1rem;
  .accordion {
    .title {
      i.dropdown.icon {
        float: right;
      }
    }
  }
}
.pusher {
  padding-top: 1rem;
}
