.company-name {
  font-family: "Poppins";
  font-weight: 500 !important;
  font-size: 24px !important;
  color: $dark-color !important;
}

.horcenter {
  margin-bottom: 10px !important;
}

.register-form {
  margin-top: 50px !important;
  .ui.pointing.label {
    margin-top: -1em !important;
  }
}

.img-name {
  display: flex;
  align-items: center;
}

.slide-container {
  display: flex;
  align-items: center;
  max-width: 57rem;
  overflow-y: auto;

  margin: auto;
}

.single-item-container {
  padding: 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 10rem;
}

.items-container {
  display: flex;
  overflow-y: hidden;
  justify-content: center;
  margin: 0px 4px 15px;
}
.items-container::-webkit-scrollbar {
  display: none;
}

.icon-class {
  cursor: pointer;
}

.thumbnail {
  font-weight: bolder;
  font-size: 21px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  margin-right: 10px;
}

.header-menu {
}

.header-segment {
  overflow: "hidden";
  margin-top: -1rem !important;
  height: 100vh;
  background: $bg-color !important;
}

.sidebar {
  padding: 1rem;
  font-family: $font-family !important;

  .accordion {
    .title {
      i.dropdown.icon {
        float: right;
      }
    }
  }
}
.pusher {
  padding-top: 1rem;
}
