.company-name {
  font-family: "Poppins";
  font-weight: 500 !important;
  font-size: 24px !important;
  color: $dark-color !important;
}

.horcenter {
  margin-bottom: 10px !important;
}

.register-form {
  margin-top: 50px !important;
}
