@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import "assets/style/var.scss";
@import "assets/style/custom.scss";

body {
  margin: 0;
  padding: 0;
  background-color: #ecf0f5;
  color: $dark-color;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
